<template>
    <div>
        <div class="container mt-4">
            <div class="row">
                <div class="col-5">
                    <div data-if="loginError" class="alert alert-danger alert-dismissible">
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        <strong>Error:</strong>
                        <span>${{loginErrorMessage}}</span>
                    </div>
                    <div class="card border-dark mb-3">
                        <div class="card-header">Login</div>
                        <div class="card-body">
                            <h4 class="card-title">Login to the Monitoring System</h4>
                            <hr>
                            <form class="card-text" data-call='handleLoginForm()'>
                                <fieldset>
                                    <div class="form-group">
                                        <label for="username" class="form-label mt-4">Username</label>
                                        <input type="text" class="form-control" id="usernamelogin" name="username" placeholder="Enter Username">
                                    </div>
                                    <div class="form-group">
                                        <label for="password" class="form-label mt-4">Password</label>
                                        <input type="password" class="form-control" name="password" id="passwordlogin" placeholder="Password">
                                    </div>

                                    <button type="submit" class="mt-4 btn btn-primary">Submit</button>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-2"></div>
                <div class="col-5">
                    <div data-if="registerError" class="alert alert-danger alert-dismissible">
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        <strong>Error:</strong>
                        <span>${{registerErrorMessage}}</span>
                    </div>
                    <div class="card border-dark mb-3">
                        <div class="card-header">Register</div>
                        <div class="card-body">
                            <h4 class="card-title">Register to the Monitoring System</h4>
                            <hr>
                            <form class="card-text" data-call='handleRegisterForm()'>
                                <fieldset>
                                    <div class="form-group">
                                        <label for="username" class="form-label mt-4">Username</label>
                                        <input type="text" class="form-control" id="usernameregister" name="username" placeholder="Enter Username">
                                    </div>
                                    <div class="form-group">
                                        <label for="Email" class="form-label mt-4">Email</label>
                                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email">
                                    </div>
                                    <div class="form-group">
                                        <label for="password" class="form-label mt-4">Password</label>
                                        <input type="password" class="form-control" name="password" id="passwordregister" placeholder="Password">
                                    </div>

                                    <button type="submit" class="mt-4 btn btn-primary">Submit</button>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</template>
